<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Patrimonial</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <section class="logo" style="text-align: center;">
        <img src="/logo.png" alt="" />
    </section>
    <h2 style="text-align: center; font-size: 14px; color: white; font-family: tahoma;">Sistema de Escaneamento Patrimonial</h2>

    <!-- App buttons -->
    <section class="navbuttons">
        <a href="/" title="Cadastre um item aqui." class="item">
            <div class="button">
                <img src="/registro.png" alt="" />
                <span class="name">Cadastro</span>
            </div>
        </a><!-- Option -->

        <a href="/status" title="Confira o status de cada tag." class="item">
            <div class="button">
                <img src="/status.png" alt="" />
                <span class="name">Status</span>
            </div>
        </a><!-- Option -->

        <a href="/" title="Controle os ativos ja cadastrados." class="item">
            <div class="button">
                <img src="/database.png" alt="" />
                <span class="name">Dados</span>
            </div>
        </a><!-- Option -->

        <a href="/" title="Gerencie o que os usuarios podem fazer." class="item">
            <div class="button">
                <img src="/user.png" alt="" />
                <span class="name">Usuarios</span>
            </div>
        </a><!-- Option -->
    </section>
</body>
</html>